/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $primary-colour;
    position: sticky;
    bottom: 0;

    @media screen and (max-width: 475px) {
        flex-direction: column;
        align-items: center;
    }

    &__legal,
    &__contact {
        font-family: $title-font;
        font-size: 1.6em;
        color: $secondary-colour;
        padding: 1em;
        margin: 0em;
    }
}