/* header */
.header {
    background-color: $primary-colour;

    &__logo {
        font-family: $title-font;
        font-size: 4em;
        letter-spacing: -.05em;
        padding: .7em;
        margin: 0;
        margin-bottom: .7em;
        text-align: center;
        color: $secondary-colour;
    }
}