/* bulle */

.soon {
    display: flex;
    justify-content: center;
    align-items: center;

    &__bubble {
        font-family: $title-font;
        background-color: $primary-colour;
        color: $secondary-colour;
        font-size: 2.3em;
        font-weight: normal;
        border-radius: .4em;
        padding: 0.5em 1.5em;
        margin-block-start: .5em;

        &__dot-1 {
            display: inline-block;
            animation: dot 500ms 100ms infinite alternate;
        }

        &__dot-2 {
            display: inline-block;
            animation: dot 500ms 200ms infinite alternate;
        }

        &__dot-3 {
            display: inline-block;
            animation: dot 500ms 300ms infinite alternate;
        }

        @media screen and (max-width: 1023px) {
            padding: .3em .5em;
        }
    }
}