body {
    margin: 0;

    @media screen and (max-width: 424px) {
        font-size: .8em;
    }

    @media screen and (min-width: 425px) and (max-width: 696px) {
        font-size: .9em;
    }
}

a {
    @include link-styles;
}

main {
    max-width: 1024px;
    margin: auto;
}

.menu_name {
    text-align: center;
    font-family: $title-font;
    font-size: 1.8em;
    font-weight: normal;
}

.menu {
    box-shadow: 0px 0px 20px #cfcfcf;
    margin: 0 auto 6em auto;
    max-width: 832px;

    &__header {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        & h2 {
            font-weight: normal;
            padding: .1em;
            margin: 0;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left,
        &__right {
            width: 30%;
        }

        & h3 {
            text-align: center;
            &:hover {
                &::after {
                    transform: scale(1);
                }
            }
        }

        & ::after {
            content:"";
            display: block;
            @include line-style;
        }
    }

    &__content ul {
        list-style-type: none;
        font-weight: lighter;
        padding: 0;
        margin: 0;

        & li {
            display: flex;
            justify-content: space-between;
            padding: .5em 0;

            @media screen and (max-width: 620px) {
                flex-direction: column;
                text-align: center;
            }
        }

        & span {
            font-weight: normal;
            padding-left: 1em;

            @media screen and (max-width: 620px) {
                padding: .5em;
            }
        }
    }
}