/* menu 4 */

.menu-4 {
    background: $palette_background;
    padding: 0 2em 11em 2em;

    &__header {
        font-family: $palette_h2;
        font-size: 3.2em;
        padding: 1.5em 0;
        @include palette;
    }

    &__title {
        font-family: $palette_h3;
        font-size: 1.2em;

        & h3 {
            font-weight: lighter;
        }

        &__left,
        &__right {
            width: 35%;
        }
    }

    &__content {
        font-family: $palette_h3;
        font-size: 1.2em;
        margin: 0 3.5em;

        @media screen and (max-width: 840px) {
            margin: 0;
        }

        & ul {
            padding-bottom: 1.1em;

            & li {
                padding: 0.2em 0;

                & .price {
                    font-size: 1.2em;
                    font-weight: lighter;
                }
            }
        }
    }
}