/* mixins */


@mixin line-style ($background-color:black) {
    height: 4px;
    background-color: $background-color;
    transform-origin: left;
    transform: scalex(0);
    transition: transform 1000ms ease;
}

@mixin zoom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all 1000ms;

    &:hover {
        transform: scale(1.15);
        opacity: .6;
    }
}

@mixin link-styles {
    text-decoration: none;
    text-align: center;
    color: inherit;
}

@mixin menu-prev {
    width: 23em;
    height: 32em;
    margin: 2.5em;
    overflow: hidden;
    box-shadow: 0px 0px 20px #cfcfcf;
}

@mixin note {
    background: linear-gradient(0.33turn, #ef475f, #f6916a 80%);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin chic {
    background: linear-gradient(0.4turn, #D8852E 30%, #905BFD 65%);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin delice {
    background: linear-gradient(to right bottom, #0431df 40%, #0887fb 60%);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin palette {
    background: linear-gradient(to right bottom, #3d923a 30%, #bfff7e 70%);
    -webkit-background-clip: text;
    color: transparent;
}