/* variables */

$primary-colour: #579C87;
$secondary-colour: #FDCB46;

$title-font: 'Montserrat',
sans-serif;

/* menu 1 */

$note_background: #FCDFDB;
$note_color: #3C1218;
$note_h2: 'Devonshire',
cursive;
$note_h3: 'Kalam',
cursive;

/* menu 2 */

$chic_background: #FFF5FE;
$chic_color: #C67412;
$chic_h2: 'Croissant One',
cursive;

/* menu 3 */

$delice_background: #F9F9F9;
$delice_color: #0887FB;
$delice_h2: 'Dancing Script',
cursive;
$delice_h3: 'Kalam',
cursive;

/* menu 4 */

$palette_background: #FDFFFD;
$palette_color: #72BF56;
$palette_h2: 'Kaushan Script',
cursive;
$palette_h3: 'Kalam',
cursive;